body{
    /* background-image: url(BG.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: center; */
    background-color: black;
}

@font-face {
    font-family: countdown;
    src: url(Technology-Bold.ttf);
}

#count{
    font-family: countdown;
    margin-top: 54vh;
    font-size: 5vh;
    text-align: center;
    color: red;
    animation: flicker 1.5s infinite alternate; 
}

#text{
    font-family: countdown;
    margin-top: 5vh;
    font-size: 3vh;
    text-align: center;
    color: red;
}

p{
    text-align: center;
    color: wheat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vh;
}

@keyframes flicker {
    
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
      
        text-shadow:
            0 0 1rem brown,
            0 0 1rem brown,
            0 0 2rem brown,
            0 0 4rem brown,
            0 0 2rem brown,
            0 0 4rem brown,
            0 0 1rem brown;      
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
}