body{
    background-image: url(BG.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    color: white;
    font-family: sans-serif;
    font-size: 14px;
}

p{
    color: white;
    text-align: center;
    padding-left: 15vw;
    padding-right: 15vw;
    font-size: 3vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@font-face {
    font-family: countdown;
    src: url(Technology-Bold.ttf);
}


#count{
    font-family: countdown;
    margin-top: 54vh;
    font-size: 5vh;
    text-align: center;
    color: red;
    animation: flicker 1.5s infinite alternate; 
}

.cover{
    height: 100vh;
    width: 100vw;
    position: absolute;
    text-align: center;
}

#p2{
    background-image: linear-gradient(to bottom right, rgba(89, 0, 255, 0.8), rgba(255, 0, 200, 0.6));
}

#playbutton{
    margin-left: 44vw;
    height: 12vw;
    width: 12vw;
    background-color: rgb(255, 136, 0);
    border-radius: 50%;
    text-align: center;
}

i{
    padding: 3vw ;
    color: white;
    font-size: 6vw;
}

@keyframes flicker {
    
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
      
        text-shadow:
            0 0 1rem brown,
            0 0 1rem brown,
            0 0 2rem brown,
            0 0 4rem brown,
            0 0 2rem brown,
            0 0 4rem brown,
            0 0 1rem brown;      
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
}