body{
    /* background-image: url(BG.jpg); */
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    color: white;
    font-family: sans-serif;
    font-size: 14px;
}


p{
    color: white;
    text-align: center;
    padding-left: 15vw;
    padding-right: 15vw;
    font-size: 3vh;
    font-family: sweet;
}

@font-face {
    font-family: countdown;
    src: url(Technology-Bold.ttf);
}

@font-face{
    font-family: pacifico;
    src: url(Pacifico-Regular.ttf);
}

@font-face{
    font-family: sweet;
    src: url(./sweet\ purple.ttf);
}

#count{
    font-family: countdown;
    margin-top: 50vh;
    font-size: 5vh;
    text-align: center;
    color: red;
    animation: flicker 1.5s infinite alternate; 
}

.cover{
    height: 100vh;
    width: 100vw;
    position: absolute;
    text-align: center;
}

#p2{
    /* background-image: linear-gradient(to bottom right, rgba(17, 145, 204, 0.87), rgba(27, 0, 100, 0.651)); */
}

#playbutton{
    margin-left: 44vw;
    height: 12vw;
    width: 12vw;
    background-image: linear-gradient(to bottom right, rgba(17, 145, 204, 0.87), rgba(27, 0, 100, 0.651));;
    border-radius: 50%;
    text-align: center;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

i{
    padding: 4vw ;
    color: white;
    font-size: 4vw;
}

h1{
    text-align: center;
    font-size: 3vh;
    font-family: pacifico;
    padding: 2vh;
}

@keyframes flicker {
    
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
      
        text-shadow:
            0 0 1rem brown,
            0 0 1rem brown,
            0 0 2rem brown,
            0 0 4rem brown,
            0 0 2rem brown,
            0 0 4rem brown,
            0 0 1rem brown;      
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
}